
.header__order{
  width: 330px;

  & form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:stretch;
  }

  & p{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color:#ffffff;
    padding: 0;
    margin: 0;
  }
}

.form{
  width: 330px;
  box-sizing: content-box;
  text-align: center;

  & input{
    height: 48px;
    width: 330px;
    box-sizing: content-box;
    border:1px solid #c9ccd4;
    background-color:#ffffff;
    border-radius: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
    color:#1c1c1c;
    padding-left: 29px;
    margin: 20px 0 0 0;
  }

  & button {
  height: 48px;
  width: 327px;
  box-sizing: content-box;
  background-color:#0AD9c6;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color:#000000;
  margin: 20px 0 0 0;
  }
}
@media (max-width: 1023px) {
  .header__order{
    top: 310px;
    margin-left: calc(50% - 197px);

  }
}

