@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family:'Open Sans', "Arial", sans-serif;
  color: #484848;
  font-style: normal;
  background-color: #ffffff;
}
.visually-hidden:not(activ):not(focus){
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
img{
  width: 100%;
  height: auto;
 }
.header{
  height: 825px;
  background-image: url('../img/imgbike-2.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:center 0;

}
.header__wrapper{
 margin: 0 auto;
}
.wrapper{
  width: 61%;
}
.header__content{
  height: 285px;
  display: flex;
  justify-content: space-between;
  margin-top: 260px;
  margin-bottom: 240px;
}

.header__previe{
  width: 393px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:stretch;

  & img{
    width: 68px;
    height: 21px;
    margin-bottom: 10px;
    flex-shrink: 0;

    }
  & .header__slogan{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 46px;
     text-align: left;
    color:#ffffff;
    opacity: 0.5;
    padding: 0;
    margin: 0;
  }
  & .header__text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color:#ffffff;
    opacity: 0.5;
    padding: 0;
    margin:0;
  }

}

@media (max-width: 1023px) {
  .wrapper{

    position: relative;
    width: 100%;
    margin: 0 auto;
  }

 .header__content{
    flex-direction: column;
    margin-top: 0%;
    width: 100%;
    margin: 0 auto;

& .header__previe{
  width: 100%;
flex-direction: column;
  & p{
      width: 200px;
align-self: center;
text-align: center;
}}
}
}
@media (max-width: 767px) {
  .header__content{
    flex-direction: column;
  }
}
@import "nav.scss";
@import "form.scss";
@import "about.scss";
@import "type-bicycl.scss";
@import "video.scss";
@import "map.scss";
