@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', "Arial", sans-serif;
  color: #484848;
  font-style: normal;
  background-color: #ffffff;
}

.visually-hidden:not(activ):not(focus) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.header {
  height: 825px;
  background-image: url("../img/imgbike-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__wrapper {
  margin: 0 auto;
}

.wrapper {
  width: 61%;
}

.header__content {
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 260px;
  margin-bottom: 240px;
}

.header__previe {
  width: 393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__previe img {
  width: 68px;
  height: 21px;
  margin-bottom: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__previe .header__slogan {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 46px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.header__previe .header__text {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

@media (max-width: 1023px) {
  .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0%;
    width: 100%;
    margin: 0 auto;
  }
  .header__content .header__previe {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__content .header__previe p {
    width: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navigation {
  padding-left: 0;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 52px;
  border-bottom: 2px solid #ffffff;
  margin-top: 10px;
  padding: 0 25px;
}

.navigation li {
  list-style: none;
}

.navigation a {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.navigation a:focus,
.navigation a:visited {
  opacity: 0.8;
}

.navigation a:active {
  opacity: 0.3;
}

.navigation__button {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  z-index: 0;
  display: block;
}

@media (max-width: 1023px) {
  .navigation {
    position: absolute;
    width: 320px;
    min-height: 51px;
    margin: 0 auto;
    right: 0%;
    background-color: #826550;
  }
  .navigation__closed {
    position: absolute;
  }
  .navigation ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    z-index: 1;
    top: 51px;
  }
  .navigation__button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #6a4d38;
    cursor: pointer;
    border: none;
  }
  .navigation__button:hover, .navigation__button:active {
    background-color: #624530;
  }
  .header__nav--closed .navigation__button::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
            box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  .header-nav--opened .navigation__button {
    top: 0;
    right: auto;
    left: 0;
  }
  .header-nav--opened .navigation__button::before, .header-nav--opened .navigation__button::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }
  .header-nav--opened .navigation__button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-nav--opened .navigation__button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-nav--opened .navigation__button:active::before, .header-nav--opened .navigation__button:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .close {
    display: none;
  }
}

.header__order {
  width: 330px;
}

.header__order form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__order p {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.form {
  width: 330px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
}

.form input {
  height: 48px;
  width: 330px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #c9ccd4;
  background-color: #ffffff;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  color: #1c1c1c;
  padding-left: 29px;
  margin: 20px 0 0 0;
}

.form button {
  height: 48px;
  width: 327px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #0AD9c6;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  margin: 20px 0 0 0;
}

@media (max-width: 1023px) {
  .header__order {
    top: 310px;
    margin-left: calc(50% - 197px);
  }
}

.about {
  width: 100%;
  background-color: #e5e5e5;
  padding-top: 112px;
  padding-bottom: 15px;
}

.about__content {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.about h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 75px auto 150px auto;
  padding-left: 0px;
}

.about li {
  position: relative;
  counter-increment: num;
  width: 300px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 20px 0 0 0;
}

.about li::before {
  position: absolute;
  content: "0" counter(num);
  height: 25px;
  width: 25px;
  left: 50%;
  top: -55px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 28px;
  color: #0ad9c6;
}

@media (max-width: 1023px) {
  .page__about {
    margin-top: 74px;
  }
  ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .page__about {
    margin-top: 50px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    width: 100%;
  }
}

.page__type-bicycl {
  width: 100%;
  background-color: #f6f7f9;
  padding-top: 135px;
  padding-bottom: 150px;
}

.type-bicycl__content {
  width: 78%;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
}

.page__type-bicycl h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  margin: 0;
  text-align: center;
}

.page__type-bicycl h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  margin: 15px 0 0 0;
  text-align: center;
}

.page__type-bicycl ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
  list-style: none;
  margin: 50px auto 0 auto;
  padding-left: 0px;
}

.page__type-bicycl li {
  position: relative;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.page__type-bicycl img {
  width: 342px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__type-bicycl li:nth-child(2n) img {
  width: 342px;
  height: 566px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 35px;
}

@media (max-width: 1023px) {
  .page__page__type-bicycl {
    margin-top: 74px;
  }
  ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .page__page__type-bicycl {
    margin-top: 50px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    width: 100%;
  }
}

.page-video {
  width: 100%;
  height: 440px;
  background-color: #131314;
  padding-top: 115px;
  padding-bottom: 150px;
}

.page-video h2 {
  width: 25%;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.page-video p {
  width: 25%;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 20px auto 0 auto;
}

.about__video {
  position: relative;
}

.about__play {
  width: 929px;
  height: 522px;
  display: block;
  margin: 65px auto 0 auto;
}

.video-button {
  display: block;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  background: url("../img/play.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: default;
}

@media (max-width: 320px) {
  .video-button {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 70px;
    height: 70px;
  }
}

.page__map {
  padding-top: 250px;
  padding-bottom: 150px;
}

.map {
  width: 70%;
  margin: 0 auto;
}

.map h2 {
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
}

.map p {
  max-width: 60%;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 2px;
  text-align: center;
  color: #1f1f1f;
  margin: 20px auto 0 auto;
  padding: 0;
}

.map img {
  display: block;
  width: 957px;
  height: 530px;
  margin: 43px auto 0 auto;
}

.map ul {
  width: 50%;
  margin: 20px auto 0 auto;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.map a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 15px 15px 15px 0;
}

.map a[href*="mailto"]::before {
  content: "";
  width: 41px;
  height: 22px;
  background: url("../img/mail.svg") no-repeat;
}

.map a[href*="tel"]::before {
  content: "";
  width: 37px;
  height: 23px;
  background: url("../img/icon.svg") no-repeat;
}

@media (max-width: 1023px) {
  .page__map {
    margin: 0 auto;
    margin-top: 150px;
  }
  .map {
    width: 90%;
  }
  .map h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .map h2 {
    font-size: 18px;
  }
  .map ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */