@charset "UTF-8";
.header__wrapper {
  margin: 0 auto;
}

.wrapper {
  width: 61%;
}

.navigation {
  padding-left: 0;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 52px;
  border-bottom: 2px solid #ffffff;
  margin-top: 10px;
  padding: 0 25px 0 0;
}

.navigation ul li {
  list-style: none;
}

.navigation ul a {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.navigation ul a:focus,
.navigation ul a:visited {
  opacity: 0.8;
}

.navigation ul a:active {
  opacity: 0.3;
}

.button {
  display: none;
}

@media (max-width: 1023px) {
  .wrapper {
    width: 100%;
  }
  .navigation {
    width: 320px;
    min-height: 60px;
    margin: 0 auto;
    background-color: #e5e5e5;
    border-bottom: none;
    position: relative;
  }
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e5e5e5;
    height: 330;
    z-index: 1;
    top: 51px;
    margin: 0 auto;
    padding: 100px 0 440px 0;
  }
  .navigation li {
    height: 51px;
    background-color: #f6f6f6;
    width: 100%;
    margin-top: 20px;
    color: #48494D;
  }
  .navigation li::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../img/arrow down.png") no-repeat;
  }
  .navigation li a {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 20px;
    color: #48494D;
    text-align: left;
    padding-left: 17px;
  }
  /*подключаются при включенном JS файле*/
  .navigation--js {
    width: 100%;
    height: 50px;
    background-color: transparent;
  }
  .logo--js {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .navigation__button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #0AD9C6;
    cursor: pointer;
    border: none;
  }
  .navigation__button:hover, .navigation__button:active {
    background-color: #0ac4b1;
  }
  .header__nav--closed .navigation__button::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
            box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  /*подключаются при нажатии на кнопку*/
  .header-nav--opened .navigation__button {
    top: 0;
    right: 0;
  }
  .header-nav--opened .navigation__button::before, .header-nav--opened .navigation__button::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }
  .header-nav--opened .navigation__button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-nav--opened .navigation__button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-nav--opened .navigation__button:active::before, .header-nav--opened .navigation__button:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .close {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=nav.css.map */