@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.header {
  height: 825px;
  background-image: url("../img/imgbike-2.jpg");
  background-image: -webkit-image-set(url("../img/imgbike-2.jpg") 1x, url("../img/imgbike-2 2x.jpg") 2x);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header__content {
  margin-top: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__previe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 393px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__previe img {
  width: 68px;
  height: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__previe .header__slogan {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 46px;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.header__previe .header__text {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.header__order {
  width: 330px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1023px) {
  .header__content {
    width: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .header__previe {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .header__slogan {
    font-size: 26px;
  }
  .header__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .header__content {
    width: 330px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__previe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__previe p {
    font-size: 16px;
  }
}

.header__wrapper {
  margin: 0 auto;
}

.wrapper {
  width: 61%;
}

.navigation {
  padding-left: 0;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 52px;
  border-bottom: 2px solid #ffffff;
  margin-top: 10px;
  padding: 0 25px 0 0;
}

.navigation ul li {
  list-style: none;
}

.navigation ul a {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.navigation ul a:focus,
.navigation ul a:visited {
  opacity: 0.8;
}

.navigation ul a:active {
  opacity: 0.3;
}

.button {
  display: none;
}

@media (max-width: 1023px) {
  .wrapper {
    width: 100%;
  }
  .navigation {
    width: 320px;
    min-height: 60px;
    margin: 0 auto;
    background-color: #e5e5e5;
    border-bottom: none;
    position: relative;
  }
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e5e5e5;
    height: 330;
    z-index: 1;
    top: 51px;
    margin: 0 auto;
    padding: 100px 0 440px 0;
  }
  .navigation li {
    height: 51px;
    background-color: #f6f6f6;
    width: 100%;
    margin-top: 20px;
    color: #48494D;
  }
  .navigation li::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../img/arrow down.png") no-repeat;
  }
  .navigation li a {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 20px;
    color: #48494D;
    text-align: left;
    padding-left: 17px;
  }
  /*подключаются при включенном JS файле*/
  .navigation--js {
    width: 100%;
    height: 50px;
    background-color: transparent;
  }
  .logo--js {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .navigation__button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #0AD9C6;
    cursor: pointer;
    border: none;
  }
  .navigation__button:hover, .navigation__button:active {
    background-color: #0ac4b1;
  }
  .header__nav--closed .navigation__button::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
            box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  /*подключаются при нажатии на кнопку*/
  .header-nav--opened .navigation__button {
    top: 0;
    right: 0;
  }
  .header-nav--opened .navigation__button::before, .header-nav--opened .navigation__button::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }
  .header-nav--opened .navigation__button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-nav--opened .navigation__button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-nav--opened .navigation__button:active::before, .header-nav--opened .navigation__button:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .close {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 330px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  margin: 0 auto;
}

.form input {
  height: 48px;
  width: 330px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #c9ccd4;
  background-color: #ffffff;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  color: #1c1c1c;
  padding-left: 29px;
  margin: 20px 0 0 0;
}

.form button {
  height: 48px;
  width: 327px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #0AD9c6;
  border-radius: 6px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  margin: 14px 0 0 0;
}

@media (max-width: 1023px) {
  form {
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.about {
  width: 100%;
  background-color: #e5e5e5;
  padding-top: 140px;
  padding-bottom: 3px;
}

.about__content {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.about h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 5px auto 150px auto;
  padding-left: 0px;
}

.about li {
  position: relative;
  counter-increment: num;
  width: 24%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 100px 0 0 0;
}

.about li::before {
  position: absolute;
  content: "0" counter(num);
  height: 25px;
  width: 25px;
  left: 50%;
  top: -55px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 28px;
  color: #0ad9c6;
}

@media (max-width: 1023px) {
  .about {
    padding-top: 160px;
  }
  .about ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about li {
    width: 50%;
    padding: 0 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about li {
    width: 100%;
  }
}

.page__type-bicycl {
  width: 100%;
  background-color: #f6f7f9;
  padding-top: 140px;
  padding-bottom: 150px;
}

.type-bicycl__content {
  width: 78%;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
}

.page__type-bicycl h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  margin: 0;
  text-align: center;
}

.page__type-bicycl h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  margin: 15px 0 0 0;
  text-align: center;
}

.page__type-bicycl ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 35px auto 0 auto;
  padding-left: 0px;
}

.page__type-bicycl li {
  position: relative;
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 14px 20px 14px 20px;
  z-index: 0;
}

.page__type-bicycl img {
  width: 342px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.page__type-bicycl li:nth-child(2n) img {
  width: 342px;
  height: 566px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 35px;
}

.page__type-bicycl li:nth-child(3n-2)::after {
  position: absolute;
  content: "";
  background: url("/img/ellipse 1.png");
  background-image: -webkit-image-set(url("../img/ellipse 1.png") 1x, url("../img/ellipse 1 2x.png") 2x);
  width: 180px;
  height: 180px;
  top: calc(50% - 90px);
  left: calc(90px - 50%);
  z-index: -1;
}

.page__type-bicycl li:nth-child(3n)::before {
  position: absolute;
  content: "";
  background: url("/img/ellipse 2.png");
  background-image: -webkit-image-set(url("../img/ellipse 2.png") 1x, url("../img/ellipse 2 2x.png") 2x);
  width: 95px;
  height: 95px;
  top: calc(95px - 20%);
  right: calc(95px - 40%);
  z-index: 1;
}

.page__type-bicycl li:nth-child(3n-1)::after {
  position: absolute;
  content: "";
  background: url("/img/rectangle 7.png");
  background-image: -webkit-image-set(url("../img/rectangle 7.png") 1x, url("../img/rectangle 7 2x.png") 2x);
  width: 47px;
  height: 47px;
  top: 88%;
  left: 92%;
  z-index: 2;
}

.page__type-bicycl li:nth-child(3n-1)::before {
  position: absolute;
  content: "";
  background: url("/img/rectangle 7.png");
  background-image: -webkit-image-set(url("../img/rectangle 7.png") 1x, url("../img/rectangle 7 2x.png") 2x);
  width: 47px;
  height: 47px;
  top: 4%;
  left: -1%;
  z-index: 3;
}

@media (max-width: 1023px) {
  .type-bicycl__content {
    width: 95%;
  }
  .page__type-bicycl ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__type-bicycl li {
    position: relative;
    width: 45%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 14px 20px 14px 20px;
  }
  .page__type-bicycl li:nth-child(3n-1)::after {
    display: none;
  }
  .page__type-bicycl li:nth-child(3n-1)::before {
    display: none;
  }
  .page__type-bicycl li:nth-child(n) img {
    width: 270px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  .page__type-bicycl li:nth-child(3n-2)::after {
    position: absolute;
    content: "";
    background: url("/img/ellipse 1.png");
    background-image: -webkit-image-set(url("../img/ellipse 1.png") 1x, url("../img/ellipse 1 2x.png") 2x);
    -o-object-fit: cover;
       object-fit: cover;
    top: 45%;
    left: 20%;
    z-index: -1;
  }
  .page__type-bicycl li:nth-child(3n)::before {
    position: absolute;
    content: "";
    background: url("/img/ellipse 2.png");
    background-image: -webkit-image-set(url("../img/ellipse 2.png") 1x, url("../img/ellipse 2 2x.png") 2x);
    -o-object-fit: cover;
       object-fit: cover;
    top: -8%;
    left: 63%;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .type-bicycl__content {
    width: 95%;
  }
  .page__type-bicycl {
    margin-top: 50px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  li {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 14px 20px 14px 20px;
  }
}

.page-video {
  width: 100%;
  height: 440px;
  background-color: #131314;
  padding-top: 115px;
  padding-bottom: 150px;
}

.page-video h2 {
  width: 25%;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.page-video p {
  width: 25%;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin: 20px auto 0 auto;
}

.about__video {
  position: relative;
}

.about__play {
  width: 929px;
  height: 522px;
  display: block;
  margin: 65px auto 0 auto;
}

.video-button {
  display: block;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  background: url("../img/play.png");
  background-image: -webkit-image-set(url("../img/play.png") 1x, url("../img/play 2x.png") 2x);
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: default;
}

@media (max-width: 320px) {
  .video-button {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 70px;
    height: 70px;
  }
}

.page__map {
  padding-top: 250px;
}

.map {
  width: 70%;
  margin: 0 auto;
}

.map h2 {
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
}

.map p {
  max-width: 60%;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 2px;
  text-align: center;
  color: #1f1f1f;
  margin: 20px auto 0 auto;
  padding: 0;
}

.map img {
  display: block;
  width: 957px;
  height: 530px;
  margin: 43px auto 0 auto;
}

.map ul {
  width: 50%;
  margin: 20px auto 0 auto;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.map a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 15px 15px 15px 0;
}

.map a[href*="mailto"]::before {
  content: "";
  width: 41px;
  height: 22px;
  background: url("../img/mail.svg") no-repeat;
}

.map a[href*="tel"]::before {
  content: "";
  width: 37px;
  height: 23px;
  background: url("../img/icon.svg") no-repeat;
}

@media (max-width: 1023px) {
  .page__map {
    margin: 0 auto;
    margin-top: 150px;
  }
  .map h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .map h2 {
    font-size: 18px;
  }
  .map ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map li {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */