.page {
  max-width: 1440px;
  margin: 0 auto;
}
.page__header {
  margin-top: 0;
}
.wrapper {
  max-width: 1023px;
  margin: 0 auto;
}
.header {
  height: 825px;
  background-color:#131314;
  background: url('/img/imgbike-2.webp');
  background: url('/img/imgbike-2_2x.webp');
  background-image: -webkit-image-set(
    url('/img/imgbike-2.jpg') 1x,
    url('/img/imgbike-2_2x.jpg') 2x
  );
}
.header__content {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 25%;
  padding-bottom: 50px;
}
.header__list {
  width: 50%;
  max-width: 500px;
  padding: 0 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: content-box;
  & img {
    width: 68px;
    height: 21px;
    flex-shrink: 0;
  }
  & .header__slogan {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
  & .header__text {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.5;
    padding: 0;
    margin: 0;
  }
}
.header__order {
  width: 50%;
  max-width: 500px;
  padding: 0 86px;
  color: #ffffff;
  text-align: center;
  & p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    width: 100%;
    position: relative;
    z-index: 0;
  }
  .header {
    background-color: #131314;
  }
  .header__content {
    max-width: 650px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .header__list {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0;
    & .header__slogan {
      font-size: 28px;
      text-align: center;
    }
    & .header__text {
      font-size: 22px;
      text-align: center;
    }
  }
  .header__order {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .header__content {
    max-width: none;
    min-width: 288px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    & .header__slogan {
      font-size: 20px;
    }
    & .header__text {
      font-size: 12px;
    }
  }
  .header__order {
    max-width: none;
    min-width: 288px;
    & p {
      font-size: 16px;
    }
  }
}
