.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items:stretch;
  width: 340px;
  box-sizing: content-box;
  text-align: center;
  margin: 0 auto;
  & input{
    height: 48px;
    width: 340px;
    box-sizing: content-box;
    border:1px solid #c9ccd4;
    background-color:#ffffff;
    border-radius: 6px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
    color:#1c1c1c;
    padding-left: 29px;
    margin: 20px 0 0 0;
  }
  & button {
    height: 48px;
    width: 340px;
    box-sizing: content-box;
    background-color:#0AD9c6;
    border-radius: 6px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    color:#000000;
    margin: 14px 0 0 0;
  }
}
@media (max-width: 1023px) {
.form{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:stretch;
    margin: 0;
    & button{
      width: 100%;
    }
  }
}
