.page__type-bicycl{
  background-color:#f6f7f9;
  padding-top: 70px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.type-bicycl__content{
  max-width: 90%;
  margin: 0 auto;
}
.page__type-bicycl{
  & h2{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
  }
  & h3{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    margin:15px 0 0 0;
    text-align: center;
  }
  & ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 0px;
    margin: 40px auto 0 auto;
  }
  & li{
    position: relative;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    margin: 35px 10px 0 10px;
  }
  & img{
    max-width: 330px;
    min-width:270px;
    height: 510px;
    border-radius: 10px;
    z-index: 1;
  }
  & li:nth-child(2n){
    height: 566px;
    object-fit: cover;
    margin: 70px 10px 0 10px;
  }
  & li:nth-child(3n-2)::after {
    position:absolute;
    content: "";
    background: url("/img/ellipse-1.webp");
    background: url("/img/ellipse-1.png");
    background-image: -webkit-image-set(url("/img/ellipse-1.png") 1x,
                                        url("/img/ellipse-1_2x.png") 2x);
    width: 180px;
    height: 180px;
    top: 14%;
    left: calc(90px - 50%);
    z-index: 0;
  }
  & li:nth-child(3n)::before {
    position:absolute;
    content: "";
    background: url("/img/ellipse-2.webp");
    background: url("/img/ellipse-2.png");
    background-image: -webkit-image-set(url("/img/ellipse-2.png") 1x,
                                          url("/img/ellipse-2_2x.png") 2x);
    width: 95px;
    height: 95px;
    top: calc(95px - 20%);
    right: calc(95px - 40%);
  }
  & li:nth-child(3n-1)::after {
    position:absolute;
    content: "";
    background: url("/img/rectangle-7.webp");
    background: url("/img/rectangle-7.png");
    background-image: -webkit-image-set(url("/img/rectangle-7.png") 1x,
                        url("/img/rectangle-7_2x.png") 2x);
    width: 47px;
    height: 47px;
    top: 88%;
    left: 92%;
    z-index: 2;
  }
  & li:nth-child(3n-1)::before {
    position:absolute;
    content: "";
    background: url("/img/rectangle-7.webp");
    background: url("/img/rectangle-7.png");
    background-image: -webkit-image-set(url("/img/rectangle-7.png") 1x,
                                        url("/img/rectangle-7_2x.png") 2x);
    width: 47px;
    height: 47px;
    top: 4%;
    left: -1%;
    z-index: 3;
  }
}

@media (max-width: 1023px) {
  .type-bicycl__content{
    width: 95%;
  }
  .page__type-bicycl{
    & img {
      min-width: 270px;
    }
    & h2{
      font-size: 24px;
    }
    & ul{
      flex-wrap: wrap;
    }
    & li{
      padding: 14px 20px 14px 20px;
      margin: 0 10px;
    }
    & img{
      max-height: 300px;
    }
    & li:nth-child(2n){
      margin-bottom:35px;
    }
    & li:nth-child(3n-1)::after {
      display: none;
    }
    & li:nth-child(3n-1)::before {
      display: none;
    }
    & li:nth-child(2n){
      margin-top: 0;
      max-height: 300px;
    }
    & li:nth-child(3n-2)::after {
      position:absolute;
      content: "";
      background: url("/img/ellipse-1.webp");
      background: url("/img/ellipse-1.png");
      background-image: -webkit-image-set(url("/img/ellipse-1.png") 1x,
                                        url("/img/ellipse-1_2x.png") 2x);
      object-fit: cover;
      top: 45%;
      left: 5%;
      z-index: -1;
    }
    & li:nth-child(3n)::before {
      position:absolute;
      content: "";
      background: url("/img/ellipse-2.webp");
      background: url("/img/ellipse-2.png");
      background-image: -webkit-image-set(url("/img/ellipse-2.png") 1x,
                                          url("/img/ellipse-2_2x.png") 2x);
      object-fit: cover;
      top: -3%;
      left: 63%;
      z-index: 1;
    }
  }
}

@media (max-width: 767px) {
  .type-bicycl__content {
    width: 95%;
  }
  .page__type-bicycl {
    & ul {
    flex-direction:column;
    }
    & img {
      min-width:0px;
    }
  }
}
